/* app css stylesheet */

header {
  padding: 50px 0 50px;
  background-color: #B72525;
  background-image: url("../img/checkers.jpg");
  width: 100%;
  text-align: center;
  color: #EFEFEF;
  overflow: true;
}

.layer {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  background: rgba(183, 25, 25, 0.8);
  width: 100%;
}

.layer h1{
  margin-top: 36px;
  margin-bottom: 25px;
}

tr.ng-scope td {
  vertical-align: middle !important;
}

tr .points {
   color: #B72525;
   text-align: center;
   font-weight: bold;
}

tr td img {
  position: relative;
  height: 55%;
  padding-right: 5px;
}

.team {
  text-align: left;
  padding: 10px;
}

.team-title {
  margin-top: 0px;
  color: #EFEFEF;
  opacity: 0.7;
}

.team-car {
  color: #EFEFEF;
  opacity: 0.5;
}

.car-banner {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: right;

}

