<table class="table table-stripped standings" ng-if="Standings.drivers.length > 0">
  <tr>
    <th>#</th>
    <th>Driver</th>
    <th>Team</th>
    <th class="points">Points</th>
  </tr>
  <tr ng-repeat="driver in Standings.drivers" ng-class="{success: $first}">
    <td><strong>{{$index+1}}</strong></td>
    <td>
      <img ng-src="static/img/flags/{{driver.country}}.png" class="flag" />
      {{driver.driver}}
    </td>
    <td><span my-team-finder></span></td>
    <td class="points">{{driver.points}}</td>
  </tr>
</table>
