<div class="container-fluid">
    <div class="row">
        <table class="table table-stripped">
            <tr>
                <th>#</th>
                <th>Driver</th>
                <th>Team</th>
                <th>Country</th>
                <th>Points</th>
            </tr>
            <tr ng-repeat="driver in Standings.drivers">
                <td>{{$index+1}}</td>
                <td>{{driver.driver}}</td>
                <td><a href="#/teams/{{driver.team}}">{{driver.team}}</a></td>
                <td>{{driver.country}}</td>
                <td>{{driver.points}}</td>
            </tr>
        </table>
    </div>
</div>
