<div class="car-banner" ng-style="{'background-image':'url(static/img/cars/{{team.id}}.png)'}" ng-if="team.id">
  <h2 class="team team-title">
    {{team.team}}
  </h2>
  <h4 class="team team-car">
    {{team.car}}
  </h4>
</div>
<div>
  <h4 class="team team-drivers">
    Drivers in race:
  </h4>
  <table class="table table-stripped standings">
    <tr>
      <th>#</th>
      <th>Driver</th>
      <th class="points">Points</th>
    </tr>
    <tr ng-repeat="driver in Standings.drivers | filter:{ team:team.id }" ng-class="{success: Standings.drivers[0] == driver}" >
      <td><strong>{{Standings.drivers.indexOf(driver) + 1}}</strong></td>
      <td>
        <img ng-src="static/img/flags/{{driver.country}}.png" />
        {{driver.driver}}
      </td>
      <td class="points">{{driver.points}}</td>
    </tr>
  </table>
</div>
<div class="footer">
  <a href="#/">Back to Race Standings</a>
</div>
